
<div class="nav-wrapper">
    <ul ng-if="sessao.logado" id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span>Navegação</span> </li>
        <li><a md-button aria-label="meanu" href="#/"><i class="zmdi zmdi-home"></i><span>Início</span> </a></li>
        <li><a md-button aria-label="meanu" href="#/pessoal/locais"><i class="zmdi zmdi-pin"></i><span>Meus Locais</span> </a></li>
        <li><a md-button aria-label="meanu" href="#/pessoal/servicos"><i class="zmdi zmdi-wrench"></i><span>Serviços</span> </a></li>
        <li><a md-button aria-label="meanu" href="#/pessoal/orcamentos"><i class="zmdi zmdi-file-text"></i><span>Orçamentos</span> </a></li>
    </ul>
</div>