<div class="page" ng-controller="changePasswordCtrl">

        <div class="row ui-section">
            <div class="col-lg-8 clearfix">
                <h2 class="section-header">Trocar senha</h2>
            </div>
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="panel-body padding-xl">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                    <div layout-padding>
                                        <div ng-show="formInvalido" class="alert alert-danger">
                                                <strong>Preenchimento: </strong> Favor verificar o preenchimento do(s) campo(s) abaixo:
                                            <ul ng-repeat="error in userForm.$error">
                                                <li>{{ error[0].$name }}</li>
                                            </ul>
                                        </div>
                                        <form name="userForm" class="form-horizontal form-validation">    
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Email</label>
                                                    <md-icon class="zmdi zmdi-email"></md-icon>
                                                    <input readonly="true" class="input-success" ng-model="user.login.email" name="email">
                                                </md-input-container>
                                            </div>

                                            <md-input-container flex> 
                                                <label>Senha</label>
                                                <md-icon class="zmdi zmdi-lock-outline"></md-icon>
                                                <input type="password" ng-model="user.login.senha" required name="senha"> 
                                                <div ng-messages="userForm.senha.$error" role="alert" multiple>
                                                    <div ng-message="required" class="my-message">Senha é obrigatória.</div>
                                                    <div ng-message="wrong" class="my-message">Senha incorreta.</div>
                                                </div>
                                            </md-input-container>


                                            <div layout layout-sm="column">
                                                <md-input-container flex> 
                                                    <label>Nova Senha</label>
                                                    <md-icon class="zmdi zmdi-lock-outline"></md-icon>
                                                    <input type="password" ng-model="user.login.novaSenha" required name="novaSenha"> 
                                                    <div ng-messages="userForm.novaSenha.$error" role="alert" multiple>
                                                        <div ng-message="required" class="my-message">Nova Senha é obrigatória.</div>
                                                        <div ng-message="match" class="my-message">As senhas não correspondem.</div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Confirme a senha</label>
                                                    <input  type="password" ng-model="confirmPassword" required name="senhaConfirm" ng-blur="compareSenhas(user.login.novaSenha, confirmPassword)">
                                                    <div ng-messages="userForm.senhaConfirm.$error" role="alert" multiple>
                                                        <div ng-message="required" class="my-message">Confirmação da senha é obrigatória.</div>
                                                        <div ng-message="match" class="my-message">As senhas não correspondem.</div>
                                                    </div>
                                                   
                                                </md-input-container>
                                            </div>
                                            
                                            <div class="text-right">
                                                <md-input-container> 
                                                    <md-button ng-if="sessao.logado" class="md-raised btn-w-md md-primary" ng-click="alterarSenha(user.login)">
                                                        Alterar
                                                    </md-button><div class="divider"></div>
                                                </md-input-container>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>